<!DOCTYPE html>
<html>
<head>
<link type = "text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/homepage.css')}}">
<title>Page Title</title>
</head>
<body>
<h1>CrossRef Event Data</h1>

<div class="boxed">
<p1>Welcome to CrossRef Event Data, an interactive dashboard that allows users to search for
scholarly articles via DOI (Document Object Identifier), author name, journal name, or institution.
Your results will show you instances of social media activity of the article you have selected<br> <br>
Enter your search below to get started.</p1></div>




<div class = "box">

 <form action="{{ url_for("cr_search")}}" method="post">
    <label for="DOI">Search:</label>
    <input type="text" id="search_input" name="search" placeholder="Enter search...">
    <button type="submit">Search Authors</button>

<div>
  <input type="radio" name= "inputChoice" value="1" id="doi">
  <label for="doi">DOI</label>
</div>

<div>
  <input type="radio" name= "inputChoice" value="2" id="author">
  <label for="author">Author</label>
</div>

<div>
  <input type="radio" name= "inputChoice" value="3" id="journal">
  <label for="journal">Journal</label>
</div>
</form>

</div>

</body>
</html>
