{% extends 'cr_base_template.html' %}

{% block body %}

<div class="boxed">
<p1>Welcome to CrossRef Event Data, an interactive dashboard that allows users to search for
scholarly articles via DOI (Document Object Identifier), author name, journal name, or institution.
Your results will show you instances of social media activity of the article you have selected<br> <br>
Enter your search below to get started.
</p1>
</div>


<form method="post" action="{{ url_for("cr_search")}}" >
<!--
    <div align="center" width="100%">
    <fieldset>
        <input type="radio" name= "inputChoice" value="doi" id="doi" CHECKED> DOI
        <input type="radio" name= "inputChoice" value="author" id="author" > Author
        <input type="radio" name= "inputChoice" value="journal" id="journal" > Journal
        <input type="radio" name= "inputChoice" value="article" id="article" > Article
    </fieldset>
    </div>
-->

<!--
Dropdown box
-->
    <div align="center" align-items="center">
	<select name="dropdownSearchBy" id="dropdownSearchBy"  >
        <option selected="selected" value="doi">DOI</option>
        <option value="author">Author</option>
        <option value="journal">Journal</option>
        <option value="article">Article</option>
    </select>


    <!--
    Search bar - input text
    -->
    <input type="text" id="search_input" name="search" placeholder="Enter search..." style="width: 300px;" >
    <input width="80%" type="submit" value="Submit now" style="width: 100px;">
    </div>

</form>


{% endblock %}
