{% extends 'template.html' %}
<!-- Anything you put here will be in the HTML head tags-->
{% block head %}
{% endblock %}
<!-- Anything you put here will be in the body-->
{% block body %}
<title>About</title>
<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Overview</h3>
        <p>
          Platforms such as Google Scholar and Web of Science allow users to search for authors, search by paper, and see how many citations a given paper has. The goal of this project is to create a dashboard-style interface that displays activity and engagement surrounding scientific publications. Rather than focusing on numbers of citations, we will be displaying the number of interactions. The data describing these interactions is taken from the <a href="https://www.eventdata.crossref.org/guide/service/quickstart/" target="_blank">Crossref API &#8599;</a>.
        </p>
      </div>
      <div class="col-sm-6">
        <h3>View the Code / Documentation</h3>
        <p>This project is open source. All the code and documentation is available on <a href="https://github.com/darpanshah-wsu/openAlt_W2021/tree/master" target="_blank">GitHub &#8599;
        </a>.</p>
        <h3>Acknowledgements</h3>
        We would like to thank:<br>
        <p><strong>Dr. Timothy Bowman</strong> for the project idea and guidance! 💡<br>
        <strong>Saeid Mofrad & Minh Nguyen</Strong> for assisting us with technical questions. 💬<br>
        <strong>Seyed Ziae Mousavi Mojab</Strong> for teaching the class, of which this project was a part. 🍎</p>
      </div>
    </div>
</div>
<br>
<br>
<br>
{% endblock %}