{% extends 'template.html' %}

<!-- Anything you put here will be in the HTML head tags-->
{% block head %}

{% endblock %}

<!-- Anything you put here will be in the body-->
{% block body %}
<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Overview</h3>
        <p>The goal of this project is to create a dashboard-style interface that displays activity and engagement surrounding scientific publications.<br>
            Crossref is an official agency responsible for assigning DOIs (Document Object Identifiers) to published papers. 
            <br>
            <br>
            The Crossref Event API provides information on how and where scholarly articles are discussed. The goal of this interface is to organizes, simplify, and visualize this Event data.
        </p>
      </div>
      <div class="col-sm-6">
        <h3>View the Code / Documentation</h3>
        <p>This project is open source. All the code and documentation is available on <a href="https://github.com/tdbowman-CompSci-F2020/crossrefEventData">GitHub</a>.</p>

        <h3>Acknowledgements</h3>
        We would like to thank:<br>
        <p><strong>Dr. Timothy Bowman</strong> for the project idea and guidance! 💡<br>
        <strong>Minh Nguyen</Strong> for assisting us with technical questions. 💬<br>
        <strong>Seyed Ziae Mousavi Mojab</Strong> for teaching the class, of which this project was a part. 🍎</p>
      </div>
    </div>
</div>


<br>
<br>
<br>

{% endblock %}