{% extends 'template.html' %}
<!-- Anything you put here will be in the HTML head tags-->
{% block head %}
<style>
  h1 {color:white;}
  label {color:white;}
</style>
{% endblock %}
<!-- Anything you put here will be in the body-->
{% block body %}
<title>Admin Update Success</title>
<body style="background-image: url('../static/images/library.jpg'); background-repeat: repeat-y; background-size:cover;">
  <div class="center-screen">
    <div class="center-screen" style="padding-top: 15px;">
      <div style="width:625px; border-radius: 25px; padding: 15px; background-color: rgba(60, 65, 70, 0.9); ">
        <div class="container">
          <div class="col-sm-6">
            <h1 style="text-align: center;"><b>Config File Updated.</b></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>  
{% endblock %}
