{% extends 'template.html' %}

<!-- Anything you put here will be in the HTML head tags-->
{% block head %}
<!-- FOR CHART -->
<!-- Load c3.css first -->
<link href="../static/js/libraries/c3-0.7.20/c3.css" rel="stylesheet">

<!-- Load d3 second -->
<script src="../static/js/libraries/d3.v5/d3.v5.min.js"></script>

<!-- Load c3 last (because it depends on d3) -->
<script src="../static/js/libraries/c3-0.7.20/c3.min.js"></script>
<!-- END CHART SECTION -->

<!-- *********** jQRange Slider Scripts ************ -->
<!-- <link rel="stylesheet" href="../static/js/libraries/jQRangeSlider/css/iThing.css" type="text/css" /> -->



<script>
    $(function(){

        // Create jQuery variables to reference the text box and the submit button.
        let $yearInput = $("#yearBox");
        let $submitButton = $("input[type='submit']");

        // Creates in instance of the currentTime and grabs the year from it.
        let currentTime = new Date()
        let year = currentTime.getFullYear()

        // Grab the publication year and slice it to remove the month portion.
        let pubYear = '{{ article_detail.articleDate }}';
        pubYear = pubYear.slice(0,4);

        // If there are no events, hide the form.
        if('{{totalEventsSum}}' === '0'){
            $("form").hide();
        }

        // Grab the tspan elements and search through the array.
        let x = document.getElementsByTagName("tspan");
        for (let i = 0; i < x.length; i++) {
            // If the value of the text is equal to the input submitted by the user, change the color to red, increase the size and bold the label.
            if(x[i].innerHTML === '{{yearInput}}'){
                x[i].style.fill = "#A15951";
                x[i].style.font = "bold 18px sans-serif";
            }     
        }

        // When the user clicks on the submit button..
        $submitButton.click(function(){
            // If the year text box is empty, send an alert and don't allow the user to submit the form.
            if(document.forms['YearRange'].year.value == ""){
                alert("Please enter a year.");
                return false;
            }
            // If the year input is greater than the current year, send an alert and don't allow the user to submit the form.
            else if(document.forms['YearRange'].year.value > String(year)){
                alert("Please enter a year before " + year + ".");
                return false;
            }
            // If the year input is less than the publication year, send an alert and don't allow the user to submit the form.
            else if(document.forms['YearRange'].year.value < pubYear){
                alert("Please enter a year after " + pubYear + ".");
                return false;
            }
        });

        // When the focus is inside the year text box...
        $yearInput.keydown(function(event){
            // Disable shift key to stop special characters from entering text box.
            if(event.shiftKey == true){
                return false;
            }
            // Allow numbers from the top row of the keyboard and numpad.
            else if(event.keyCode >= 48 && event.keyCode <= 57 || event.keyCode >= 96 && event.keyCode <= 105){
                return true;
            }
            // Allow backspace, tab or enter button.
            else if(event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 13){
                return true;
            }
            else{
                return false;
            }
        });

        
    });
        // ***********Year Range Slider decomissioned until after P3 ***************

        // let $submitButton = $("input[type='submit']")
        // let $yearRangeSelector = $("#slider")

        // let minBound = parseInt('{{minimumBound}}',10)
        // let maxBound = parseInt('{{maximumBound}}',10)

        // if (minBound === maxBound || (isNaN(minBound) && isNaN(maxBound))){
        //     $yearRangeSelector.hide();
        //     $("input[type='submit']").hide();
        // }
        // else{
        //     $yearRangeSelector.rangeSlider({
        //     bounds: {min: minBound, max: maxBound},
        //     range: {min: 5, max: 5},
        //     arrows: false
        // });
        // }
        
        // let bounds = $yearRangeSelector.rangeSlider("option","bounds");
        
        // // let clicked;
        //     // data: JSON.stringify({Bounds: bounds})
        // $submitButton.click(function(event){
        //     event.preventDefault();
        //     $.ajax({
        //         type: 'POST',
        //         url: "{{ url_for('articleDashboard') }}?DOI={{ article_detail.objectID }}",
        //         data: JSON.stringify(bounds),
        //         contentType: 'application/json;charset=UTF-8',
        //         dataType:"json",
        //         success: function(response) {
        //             console.log(response);
        //         },
        //         error: function(error){
        //             console.log(error);
        //         }
        //     });

        // });

    

    // Year Selector Radio Buttons

    // $(document).ready(function(){
    //     // Storing radio button values into the object radioValues
    //     // localStorage is a property of the Web Storage API that creates an instance of a  Storage object. Storage objects are simple key-value stores but stay intact through page loads. The key and values are always strings.
    //     // localStorage allows us to store data in the browser and retrieve it later.
    //     // JSON.parse() converts the data which is a string and turns it into a JS object.
    //     let radioValues = JSON.parse(localStorage.getItem('radioValues')) || {};
    //     // Jquery statement that selects the radio buttons within the <div> yearFilter and stores them into $radioButtons.
    //     let $radioButtons = $("#yearFilter :radio");

    //     // When a radio button is pressed(changes)...
    //     $radioButtons.on("change",function(){
    //         // Debugging 
    //         // alert("The radio button " + this.value + " was selected"); or this.id
            
    //         // Iterate through each radio button.....
    //         $radioButtons.each(function(){
    //             // This radio button is checked
    //             radioValues[this.id] = this.checked;
    //         });
    //         // Stringify the values of each button and set them into the key radioValues in localStorage.
    //         localStorage.setItem("radioValues", JSON.stringify(radioValues));
    //     });

    //     // On page load, check the radio button by ID .
    //     $.each(radioValues,function(key, value){
    //         $("#" + key).prop("checked", value);
    //     });
    // });
</script>
{% endblock %}

<!-- Anything you put here will be in the body-->
{% block body %}



<div class = "container">
    <div class="row">
    <div class = "col-md-11">
        <h1>Article Dashboard</h1>
    </div>
    <div class = "statsContainer">
        <div style="width:180px; border-radius: 25px; padding: 10px; background-color: rgba(208, 218, 230, 0.5); " class = "center-screen col-sm-6">
            <h2 style="text-align: center; color: black;">{{totalEventsSum}}</h2>
            <p2><a style="text-decoration: underline;" href="https://www.crossref.org/services/event-data/"target="_blank">Events &#8599;</a></p2>
            <br>
        </div>
    </div>

    <div class="row">
        <!-- This is the left column-->
        <div class = "col-md-5">
            <div class="col">
                <br><br><br>
                <table id="noBorders">
                    <tr>
                    <td class='item-data'>
                    <div class="AD_articleTitle">
                        {{ article_detail.articleTitle }}
                    </div>
                    <br>
                    <div class="AD_journalName">
                        Journal: <a href="{{ url_for('journalDashboard') }}?journalName={{ article_detail.journalName }}">{{ article_detail.journalName }}</a>
                    </div>
                    <div class="AD_articleDate">
                        Date Published: {{ article_detail.articleDate }}
                    </div>
                    <div class="AD_authors">
                        Author(s):
                            {% for auth in article_detail.author_list %}
                                {% if auth == article_detail.author_list[-1] %}
                                    <a href="{{ url_for('authorDashboard') }}?author_id={{ auth.id }}">{{ auth.name }}</a>
                                    {% else %}
                                        <a href="{{ url_for('authorDashboard') }}?author_id={{ auth.id }}">{{ auth.name }}</a>,
                                    {% endif %}
                            {% endfor %}
                    </div>
                    <div class="AD_DOI">
                        DOI: <a href="https://doi.org/{{ article_detail.objectID }}"target="_blank">{{ article_detail.objectID }} &#8599;</a>
                    </div>
                    <br>
                    <br>
                    <br>
                    </td>
                    </tr>
                </table>
            </div> 
        </div><!-- End 5 width column on the left -->

        <!-- This is the right column, first row containing the chart -->
        <br><br>
        <div class="col-sm-7" id="changeAfterChart">
            <h3 style="text-align: center;">Events for this article over {{years_list[0]}} - {{years_list[-1]}} </h3>
            <div id="chart"></div>

        </div>
    </div> <!-- end of row -->
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6" id="yearFilter">

            <form method="post" action="{{ url_for('articleDashboard') }}?DOI={{ article_detail.objectID }}" class="form-inline" name="YearRange">
                <!-- ***********Year Range Slider decomissioned until after P3 *************** -->
                <!-- <div id="slider">

                </div> -->
                <label for="year">Select a year (YYYY):</label>
                <input type="text" name="year" id="yearBox" maxlength="4" pattern="\d{4}">
                <input width="40%" type="submit" value="Update" class="form-control">
            </form>

            
    
            <!-- *********** jQRangeSlider Scripts *************** -->
            <!-- <script src="../static/js/libraries/jQRangeSlider/demo/lib/jquery-ui/js/jQuery-ui-1.12.1.js"></script>
            <script src="../static/js/libraries/jQRangeSlider/jQRangeSlider-min.js"></script> -->

            
            <!-- This form determines the years used by the chart. Clicking submit refreshes the page by calling articleDashboard in the same way that the search results page does -->
            <!-- <form method="post" action="{{ url_for('articleDashboard') }}?DOI={{ article_detail.objectID }}" class="form-inline">
                <label class="radio-inline"><input type="radio" name="optradio" value="2001-2005" id="button1">2001-2005</label>
                <label class="radio-inline"><input type="radio" name="optradio" value="2006-2010" id="button2">2006-2010</label>
                <label class="radio-inline"><input type="radio" name="optradio" value="2011-2015" id="button3">2011-2015</label>
                <label class="radio-inline"><input type="radio" name="optradio" value="2016-2020" id="button4">2016-2020</label>
                <input width="40%" type="submit" value="Update" class="form-control">
            </form> -->
        </div>
    </div>
    <div class="row"> 
        <div class="col-md-12">
            <h1>Most Recent 50 Events</h1>
            <hr>
            
            <!-- THIS WAS THE TABLE WITH THE NICE COLOR BLOCKS - IT DOES NOT RESPOND TO HIDING 
            <table class="table table-bordered">
                {% for e in events %}
                <tr class="row row-bordered eventItem" id="{{e.sourceID}}" style='visibility:collapse'>
                    <td class="articleEventData">
                        {{e.sourceID}}  {{e.relationType}}
                        <br>
                        <a href="{{e.subjectPID}}" target="_blank">{{e.subjectPID}} &#8599;</a>
                        <br>
                    </td>
                    <td style="background-color: {{e.media_color}};">

                    </td>
                </tr>
                {% endfor %}
            </table>
            -->
            
            <!-- Table which hides events properly but looks a little strange -->
            {% for e in events %}
            <div class="row row-bordered eventItem" id="{{e.sourceID}}">
                <table id ="noBorders" style="margin-bottom: 0px; margin-top: 0px; width:1170px;">
                    <tr class="row row-bordered eventItem" id="{{e.sourceID}}">
                        <td class="articleEventData">
                            <h3 style="font-size:20px; margin-left:15px; width: 100%">{{e.sourceID}}  {{e.relationType}}
                            </h3><br>
                            <a style="margin-left:15px;" href="{{e.subjectPID}}" target="_blank">{{e.subjectPID}} &#8599;</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="color:'{{e.media_color}}';">
                        </td>
                    </tr>
                </table>
            </div>
            {% endfor %}
            
            <!-- Simple display, but  hides the events properly 
            {% for e in events %}
            <div class="row row-bordered eventItem" id="{{e.sourceID}}">
                {{e.sourceID}}  {{e.relationType}}
                <br>
                <a href="{{e.subjectPID}}" target="_blank">{{e.subjectPID}} &#8599;</a>
                <div style="background-color: {{e.media_color}};"></div>
            </div>
            {% endfor %}
            -->

        </div>
    </div> <!-- End the row -->
</div> <!-- end container wrapping entire page-->
<br>
<br>
<br>

<!-- Initialize the arrays as empty arrays -->
<script>
    cambiaevent=[]
    crossrefevent = [];
    dataciteevent = [];
    f1000event = [];
    hypothesisevent = [];
    newsfeedevent = [];
    redditevent = [];
    redditlinksevent = [];
    stackexchangeevent = [];
    twitterevent = [];
    webevent = [];
    wikipediaevent = [];
    wordpressevent = [];
    years_list = [];
</script>

{% for year in years_list %}
<script>
    years_list.push("{{ year }}")
</script>
{% endfor %}

{% for index in cambiaEventData %}   
<script>
    cambiaevent.push("{{ index }}");
</script>
{% endfor %}


{% for index in crossrefEventData %}
<script>
    crossrefevent.push("{{ index }}");
</script>
{% endfor %}

{% for index in dataciteEventData %}
<script>
    dataciteevent.push("{{ index }}");
</script>
{% endfor %}

{% for index in f1000eventData %}
<script>
    f1000event.push("{{ index }}");
</script>
{% endfor %}

{% for index in hypothesisEventData %}
<script>
    hypothesisevent.push("{{ index }}");
</script>
{% endfor %}

{% for index in newsfeedEventData %}
<script>
    newsfeedevent.push("{{ index }}");
</script>
{% endfor %}

{% for index in redditEventData %}
<script>
    redditevent.push("{{ index }}");
</script>
{% endfor %}

{% for index in redditlinksEventData %}
<script>
    redditlinksevent.push("{{ index }}");
</script>
{% endfor %}

{% for index in stackexchangeEventData %}
<script>
    stackexchangeevent.push("{{ index }}");
</script>
{% endfor %}

{% for index in twitterEventData %}
<script>
    twitterevent.push("{{ index }}");
</script>
{% endfor %}

{% for index in webEventData %}
<script>
    webevent.push("{{ index }}");
</script>
{% endfor %}

{% for index in wikipediaEventData %}
<script>
    wikipediaevent.push("{{ index }}");
</script>
{% endfor %}

{% for index in wordpressEventData %}
<script>
    wordpressevent.push("{{ index }}");
</script>
{% endfor %}

<script src="../static/js/chartScript.js"></script>
{% endblock %}
