{% extends 'template.html' %}

<!-- Anything you put here will be in the HTML head tags-->
{% block head %}
<!-- FOR CHART -->
<!-- Load c3.css first -->
<link href="../static/js/libraries/c3-0.7.20/c3.css" rel="stylesheet">

<!-- Load d3 second -->
<script src="../static/js/libraries/d3.v5.min.js"></script>

<!-- Load c3 last (because it depends on d3) -->
<script src="../static/js/libraries/c3-0.7.20/c3.min.js"></script>
<!-- END CHART SECTION -->
{% endblock %}

<!-- Anything you put here will be in the body-->
{% block body %}

<script>
    //
</script>

<h1>Article Dashboard</h1>
<div class = "container">

    <!-- This is the left column-->
    <div class = "col-md-5">
        <div class="col">
            <table class="table table-bordered">
                <tr>
                <td class='item-data'>
                <div class="AD_articleTitle">
                    Article Title: {{ article_detail.articleTitle }}
                </div>
                <div class="AD_journalName">
                    Journal Name: {{ article_detail.journalName }}
                </div>
                <div class="AD_articleDate">
                    Article Date: {{ article_detail.articleDate }}
                </div>
                <div class="AD_authors">
                    Authors:
                    {% for author in article_detail.author_list %}
                    {{ author.name }} ,
                    {% endfor %}
                </div>
                <div class="AD_DOI">
                    URL: {{ article_detail.objectID }}
                </div>
                <br>
                <br>
                <br>
                </td>
                </tr>
            </table>
        </div> 
    </div><!-- End 5 width column on the left -->

    <!-- This is the right column container! -->
    <div class = "container">
        <div class="col-7">
        
            <div id="chart"></div>

        </div>
    
        <!-- This is the right column below the chart-->
        <div class="col-md-5" id="yearFilter">
            <h3>Year</h3>
            <hr>
            <form action="">
                <label for="2020">
                    <input type="checkbox" id="2020" name="2020"> 2020
                </label><br>
                <label for="2019">
                    <input type="checkbox" id="2019" name="2019"> 2019
                </label><br>
                <label for="2018">
                    <input type="checkbox" id="2018" name="2018"> 2018
                </label><br>
                <label for="2017">
                    <input type="checkbox" id="2017" name="2017"> 2016
                </label><br>
            </form>
        </div><!-- End the Year filter div-->
    </div><!-- End the container for right column-->
</div> <!-- end container wrapping entire page-->
<br>
<br>
<br>

<!-- Initialize the arrays as empty arrays -->
<script>
    cambiaevent=[]
    crossrefevent = [];
    dataciteevent = [];
    hypothesisevent = [];
    newsfeedevent = [];
    redditevent = [];
    redditlinksevent = [];
    stackexchangeevent = [];
    twitterevent = [];
    webevent = [];
    wikipediaevent = [];
    wordpressevent = [];
</script>


{% for index in cambiaEventData %}   
<script>
    cambiaevent.push("{{ index }}");
    crossrefevent.push("{{ index }}");
    dataciteevent.push("{{ index }}");
    hypothesisevent.push("{{ index }}");
    newsfeedevent.push("{{ index }}");
    redditevent.push("{{ index }}");
    redditlinksevent.push("{{ index }}");
    stackexchangeevent.push("{{ index }}");
    twitterevent.push("{{ index }}");
    webevent.push("{{ index }}");
    wikipediaevent.push("{{ index }}");
    wordpressevent.push("{{ index }}");
</script>
{% endfor %}

<!-- 
{% for index in crossrefEventData %}
{% endfor %}

{% for index in dataciteEventData %}
{% endfor %}

{% for index in hypothesisEventData %}
{% endfor %}

{% for index in newsfeedEventData %}
{% endfor %}

{% for index in redditEventData %}
{% endfor %}

{% for index in redditlinksEventData %}
{% endfor %}

{% for index in stackexchangeEventData %}
{% endfor %}

{% for index in twitterEventData %}
{% endfor %}

{% for index in webEventData %}
{% endfor %}

{% for index in wikipediaEventData %}
{% endfor %}

{% for index in wordpressEventData %}
{% endfor %}
 -->

<script src="../static/js/chartScript.js"></script>
{% endblock %}
