<!--Author: Darpan (Lines 34-40)-->
{% extends 'template.html' %}

<!-- Anything you put here will be in the HTML head tags-->
{% block head %}

{% endblock %}
<!-- Author: Darpan (whole file)-->
<!-- Anything you put here will be in the body-->
{% block body %}

<br>
<br>
<body
    style="background-image: url('../static/images/library.jpg'); background-repeat: no-repeat; background-size:cover;">
    <div class="col-sm-3">
        <!-- Empty column of size 3. Left of search bar -->
    </div>



    <div class="center-screen col-sm-6">
        <div style="border-radius: 25px; padding: 10px; background-color: rgba(60, 65, 70, 0.8); text-align: center;">

            <h1 style="text-align: center; color: aliceblue;">Download University Results</h1>
            <br>

            <input type="text" id="email_input" name="email_input" placeholder="Email Address:" class="form-control">
            <br>

            <form action="{{ url_for('downloadUni') }}" method="POST" style="text-align: center; align-items: center;">
                <div class="image-title-wrap">
                    <select name="dropdownSearchBy" id="dropdownSearchBy" class="form-control">
                        <option selected="selected" value="CSV" style="text-align: center; align-items: center;">CSV</option>
                        <option value="JSON" style="text-align: center; align-items: center;">JSON</option>
                    </select>
                    <button class="file-upload-btn">Download File</button></a>
                </div>
            </form>
        </div>
    </div>

    <div class="col-sm-3">
        <!-- Empty column of size 3. Left of search bar -->
    </div>

</body>

{% endblock %}
