<!-- Salsabil's code from line 3 - 36 -->

{% extends 'template.html' %}

<!-- Anything you put here will be in the HTML head tags-->
{% block head %}
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
{% endblock %}

<!-- Anything you put here will be in the body-->
{% block body %}
<br> <br>
<body style="background-image: url('../static/images/library.jpg'); background-repeat: no-repeat; background-size:cover;">
  <div class="col-sm-3">
    <!-- Empty column of size 3. Left of box. -->
  </div>

  <div class = "center-screen col-sm-6">
    <div style="border-radius: 25px; padding: 10px; background-color: rgba(60, 65, 70, 0.8); " >
        <h1 style="text-align: center; color: aliceblue;">Download Results for List of DOIs</h1>
        
        <!-- Download button -->
        <form action="{{ url_for('download') }}" method="POST">
            <div class="image-title-wrap">
                <button class="file-upload-btn">Download File</button></a>
            </div>
        </form>
    </div>
  </div>

    <div class="col-sm-3">
     <!-- Empty column of size 3. Right of box. -->
    </div>
</body>

{% endblock %}
