<!--Author: Darpan (Lines 32-37)-->
{% extends 'template.html' %}

<!-- Anything you put here will be in the HTML head tags-->
{% block head %}
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
{% endblock %}

<!-- Anything you put here will be in the body-->
{% block body %}
<!-- <div class="file-upload">
    <form action="{{ url_for('download') }}" method="POST" enctype="multipart/form-data">
        <div class="container">
        <a href="/downloadfile" target="blank"><button class="button">Download File</button></a>
        </div> -->
<!-- <div class="file-upload-content">
            <div class="image-title-wrap">
            <button type="submit" class="button">Download File</button>
            </div>
        </div>
    </form>
</div> --> -->
<br>
<br>

<body
    style="background-image: url('../static/images/library.jpg'); background-repeat: no-repeat; background-size:cover;">
    <div class="col-sm-3">
        <!-- Empty column of size 3. Left of search bar -->
    </div>



    <div class="center-screen col-sm-6">
        <div style="border-radius: 25px; padding: 10px; background-color: rgba(60, 65, 70, 0.8); text-align: center;">

            <h1 style="text-align: center; color: aliceblue;">Download DOI Results</h1>
            <br>

            <input type="text" id="email_input" name="email_input" placeholder="Email Address:" class="form-control">
            <br>

            <form action="{{ url_for('downloadDOI') }}" method="POST" style="text-align: center; align-items: center;">
                <div class="image-title-wrap">
                    <select name="dropdownSearchBy" id="dropdownSearchBy" class="form-control">
                        <option selected="selected" value="CSV" style="text-align: center; align-items: center;">CSV</option>
                        <option value="JSON" style="text-align: center; align-items: center;">JSON</option>
                    </select>
                    <button class="file-upload-btn">Download File</button></a>
                </div>
            </form>
        </div>
    </div>

    <div class="col-sm-3">
        <!-- Empty column of size 3. Left of search bar -->
    </div>

</body>





<!-- <div class="container">
    <h3>
        The path of the zipped result folder is in:
        <br>
        {{dir_zip}}
        <br>
        Total results found: {{sumQuery}}
    </h3>
</div> -->



{% endblock %}