<!--Author: Darpan (Lines 34-40)-->
{% extends 'bulkSearchTemplate.html' %}

<!-- Anything you put here will be in the HTML head tags-->
{% block head %}
<script>

    $(function () {

        // Initialize variables and reference to the resultsButton and the current value of the email box
        let $resultsButton = $("#resultsButton");
        

        // If the email box is empty, prompt the user to enter a query.
        $resultsButton.click(function () {
            let $emailValue = $("#email_input").val();

            // check if empty
            if ($emailValue === '') {
                alert("Please enter an email address.");
                return false;
            }
            // check if entered email is valid       
            else if (/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test($emailValue)) {
                return (true)
            }
            alert("You have entered an invalid email address!")
            return (false)


        });

    });

</script>

{% endblock %}
<!-- Author: Darpan (whole file)-->
<!-- Anything you put here will be in the body-->
{% block body %}

<body
    style="background-image: url('../static/images/library.jpg'); background-repeat: repeat-y; background-size:cover;">

    <div class="center-screen" style="padding-top: 15px;">

        <div
            style="width: 550px; border-radius: 25px; padding: 10px; background-color: rgba(60, 65, 70, 0.9); text-align: center;">

            <h1 style="text-align: center; color: aliceblue; padding-bottom: 10px;"><b>Retreive University Results</b></h1>

            <form action="{{ url_for('downloadUni') }}" method="POST"
                style="text-align: center; align-items: center;">
                <input type="text" id="email_input" name="email_input" placeholder="Email Address:"
                    style="width: 350px;" class="form-control">
                <br><br>

                <div class="image-title-wrap">
                    <select name="dropdownSearchBy" id="dropdownSearchBy" class="form-control" style="width: 350px;">
                        <option value="csv" style="text-align: center; align-items: center;">CSV</option>
                        <option value="json" style="text-align: center; align-items: center;">JSON</option>
                    </select>
                    <br><br>
                    <button class="file-upload-btn" id="resultsButton" style="width: 350px;">Get Results!</button></a>
                </div>
            </form>
        </div>

        <div class="center-screen" style="padding-top: 50px;">
            <div style="width: 550px; border-radius: 25px; padding: 0px; background-color: rgba(60, 65, 70, 0.9); "
                class="center-screen">
                <h3 style="text-align: center; color: aliceblue;"><b>Instructions</b></h3>
                <p1 style="text-align:left; color: aliceblue;">
                    <ol>
                        <li>Enter your email address in the box labeled "Email Address".</li>
                        <li style="padding-top: 5px;">Select whether you want your results in CSV or JSON format.</li>
                        <li style="padding-top: 5px;">Click the "Get Results!" button and the results will be sent to
                            you in
                            an email when we retrieve
                            all the data!</li>
                    </ol>
                </p1>
                <br>
            </div>
        </div>




        <div class="center-screen" style="padding-top: 100px;">
            <div style="width: 550px; border-radius: 25px; padding: 0px; background-color: rgba(60, 65, 70, 0.9); "
                class="center-screen col-sm-6">
                <h3 style="text-align: center; color: aliceblue; font-size: large;">Privacy Statement</h3>
                <p1 style="text-align: center; color: aliceblue; font-size: small;"><i>OpenAlt may collect your email
                        information as a mean to keep track of analytics with search results and email you analytics
                        based on your searches. However, we here at OpenAlt respect your privacy and you may opt out of
                        this feature via email.</i></p1>
                <br>
            </div>
        </div>

    </div>

</body>

{% endblock %}