<!--Author: Darpan (Lines 34-40)-->
{% extends 'template.html' %}

<!-- Anything you put here will be in the HTML head tags-->
{% block head %}
<script>

    $(function () {

        // Initialize variables and reference to the resultsButton and the current value of the email box
        let $resultsButton = $("#resultsButton");

        // If the email box is empty, prompt the user to enter a query.
        $resultsButton.click(function () {
            let $emailValue = $("#email_input").val();

            if ($emailValue === '') {
                alert("Please enter an email address.");
                return false;
            }
        });

    });

</script>

{% endblock %}
<!-- Author: Darpan (whole file)-->
<!-- Anything you put here will be in the body-->
{% block body %}

<br>
<br>

<body
    style="background-image: url('../static/images/library.jpg'); background-repeat: no-repeat; background-size:cover;">
    <div class="col-sm-3">
        <!-- Empty column of size 3. Left of search bar -->
    </div>



    <div class="center-screen col-sm-6">
        <div style="border-radius: 25px; padding: 10px; background-color: rgba(60, 65, 70, 0.8); text-align: center;">

            <h1 style="text-align: center; color: aliceblue;">Download University Results</h1>
            <br>

            <form action="{{ url_for('downloadUni') }}" method="POST" style="text-align: center; align-items: center;">
                <input type="text" id="email_input" name="email_input" placeholder="Email Address:"
                    class="form-control">
                <br>

                <div class="image-title-wrap">
                    <select name="dropdownSearchBy" id="dropdownSearchBy" class="form-control">
                        <option selected="selected" value="csv" style="text-align: center; align-items: center;">CSV
                        </option>
                        <option value="json" style="text-align: center; align-items: center;">JSON</option>
                    </select>
                    <button class="file-upload-btn" id="resultsButton">Download File</button></a>
                </div>
            </form>
        </div>
    </div>

    <div class="col-sm-3">
        <!-- Empty column of size 3. Left of search bar -->
    </div>

</body>

{% endblock %}