{% extends 'indexTemplate.html' %}

<!-- Anything you put here will be in the HTML head tags-->
{% block head %}

{% endblock %}

<!-- Anything you put here will be in the body-->
{% block body %}
<br>
<br>
<!-- <h1>Crossref event data search</h1>
form method="post" action="{{ url_for('search') }}" >
    <div align="center" align-items="center">
	<select name="dropdownSearchBy" id="dropdownSearchBy"  >
        <option selected="selected" value="DOI">DOI</option>
        <option value="Author">Author</option>
        <option value="Journal">Journal</option>
        <option value="Article">Article</option>
    </select>-->
<div class="col-sm-3">
</div>

<div style="border-radius: 25px; padding: 10px; background-color: rgba(60, 65, 70, 0.5); " class = "center-screen col-sm-6">
  <h1 style="text-align: center; color: aliceblue;">Crossref Event Data Dashboard</h1>
  <p2 style="text-align: center; color: aliceblue;">Search for scholarly publications by the <a style="color: aliceblue; text-decoration: underline;" href="https://www.doi.org/doi_handbook/1_Introduction.html#1.6.1"target="_blank">Document Object Identifier (DOI) &#8599;</a>, journal, author, or article name</p2>
  <br>
  <form method="post" action="{{ url_for('search') }}" class="form-inline">
  <form method="post" action="{{ url_for('search') }}" class="form-inline">
    <div class="form-group" style="text-align: center">
            
        <!-- Drop Down Search -->
        <select name="dropdownSearchBy" id="dropdownSearchBy" class="form-control">
            <option selected="selected" value="DOI">DOI</option>
            <option value="Author">Author</option>
            <option value="Journal">Journal</option>
            <option value="Article">Article</option>
        </select>

        <!-- Search bar - input text -->
        <input type="text" id="search_input" name="search" placeholder="Enter search..." style="width: 400px;" class="form-control">
        <input width="80%" type="submit" value="Search" style="width: 100px;" class="form-control">
    </div>
  </form>
  <br>

  
</div>

<div class="col-sm-3">
    <!-- Empty column of size 2. Right of search bar -->
</div>
{% endblock %}