{% extends 'template.html' %}

<!-- Anything you put here will be in the HTML head tags-->
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css')}}">
{% endblock %}

<!-- Anything you put here will be in the body-->
{% block body %}
<br>
<br>
<h1>Crossref event data search</h1>
<form method="post" action="{{ url_for('homepageSearch') }}" >
    <div align="center" align-items="center">
	<select name="dropdownSearchBy" id="dropdownSearchBy"  >
        <option selected="selected" value="DOI">DOI</option>
        <option value="Author">Author</option>
        <option value="Journal">Journal</option>
        <option value="Article">Article</option>
    </select>

    <!--
    Search bar - input text
    -->
    <input type="text" id="search_input" name="search" placeholder="Enter search..." style="width: 300px;" >
    <input width="80%" type="submit" value="Search" style="width: 100px;">
    </div>

</form>

{% endblock %}