{% extends 'template.html' %}

<!-- Anything you put here will be in the HTML head tags-->
{% block head %}
<!-- FOR CHART -->
<!-- Load c3.css first -->
<link href="../static/js/libraries/c3-0.7.20/c3.css" rel="stylesheet">

<!-- Load d3 second -->
<script src="../static/js/libraries/d3.v5/d3.v5.min.js"></script>

<!-- Load c3 last (because it depends on d3) -->
<script src="../static/js/libraries/c3-0.7.20/c3.min.js"></script>
<!-- END CHART SECTION -->
{% endblock %}

<!-- Anything you put here will be in the body-->
{% block body %}

<div class = "container">
    <h1>Journal Dashboard</h1>
    
    <div class="row">
        <h3 style="text-align: center;">{{ journal_name }} articles published {{ start_year }} - {{ end_year }}</h3>
        <div class="col-sm-12" id="changeAfterChart">
            <div id="chart"></div>
        </div>
        <h4 style="text-align: center;">Years</h4>
    </div>
            <!-- This goes below the chart
            <div class="col-md-5" id="yearFilter">
                <h3>Year</h3>
                <hr>
                <form action="">
                    <label for="2020">
                        <input type="checkbox" id="2020" name="2020"> 2020
                    </label><br>
                    <label for="2019">
                        <input type="checkbox" id="2019" name="2019"> 2019
                    </label><br>
                    <label for="2018">
                        <input type="checkbox" id="2018" name="2018"> 2018
                    </label><br>
                    <label for="2017">
                        <input type="checkbox" id="2017" name="2017"> 2016
                    </label><br>
                </form>
            </div> -->

    <div class="row">
    <div class="col-md-12">
        <!--
        <div id="pHead">
            {{ journal_name }}
        </div>
        -->
        <hr>
        <div id="pContent">
            <!--<ul class="aInfo">
                <li>Article Title: </li>
                <li>Published in: </li>
                <li>Journal Name: </li>
                <li>Authors: </li>
            </ul>-->
        <form class="form-inline" method="post" action="{{ url_for('journalDashboard') }}?journalName={{ journal_name }}" >
        <select name="perPage" id="perPage" class="resizedTextbox form-control" >
              <option value="" disabled selected>Per Page</option>
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
        </select>
        <button type="submit" class=" resizedTextbox btn btn-default">Apply</button>
        </form>

            <table id="noBorders">
            {{pagination.info}}
            {{pagination.links}}

            {% for journal in journal_list[article_start:article_end] %}
            <tr>

            <td class='item-data'>

                <div class="JD_articleTitle">
                    <a href="{{ url_for('articleDashboard') }}?DOI={{ journal.objectID }}">{{ journal.articleTitle }}</a>
                </div>
                <!--
                <div class="JD_journalName">
                    Journal Name:
                    {{ journal.journalName }}
                </div>
                -->
                 <div class="JD_issue">
                    <strong>Issue:</strong>
                    {{ journal.issue }}
                </div>
                 <div class="JD_journalPage">
                    <strong>Page Number:</strong>
                    {{ journal.journalPage }}
                </div>
                <div class="JD_articleDate">
                    <strong>Date Published:</strong> {{ journal.articleDate }}
                </div>
                <div class="JD_authors">
                    <strong>Author(s):</strong>
                    {% for author in journal.author_list %}
                        {% if author == journal.author_list[-1]: %}
                            <a href="{{ url_for('authorDashboard') }}?author_id={{ author.id }}">{{ author.name }}</a>
                        {%else:%}
                            <a href="{{ url_for('authorDashboard') }}?author_id={{ author.id }}">{{ author.name }},</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="JD_DOI">
                    <strong>DOI:</strong>
                    <a href="https://doi.org/{{ journal.objectID }}"target="_blank">{{ journal.objectID }} &#8599;</a>                </div>
                </td>
                </tr>
            {% endfor %}
            </table>

            {{pagination.links}}
			</div>
    </div>
    </div>
</div>
</div> <!-- end container wrapping entire page-->
<br>
<br>
<br>

<!-- Initialize the arrays as empty arrays -->
<script>
    publishedPerYr=[]
    const journalName = "{{ journal_name }}"
</script>

{% for index in publishedPerYear %}
<script>
    publishedPerYr.push("{{ index }}");
</script>
{% endfor %}

<!-- Load Mitch JS for chart -->
<script src="../static/js/journalChart.js"></script>
{% endblock %}