{% extends 'template.html' %}

<!-- Anything you put here will be in the HTML head tags-->
{% block head %}

{% endblock %}
<!-- Anything you put here will be in the body-->
{% block body %}
<h1>Journal Dashboard</h1>
<div class = "container">

  <div class = "col-md-8">
    <img src="https://placekitten.com/200/302" alt="Cat">

  </div>

  <div class = col-md-4>
      <div class = "row">
        <img src="https://placekitten.com/200/302" alt="Cat">

      </div>


      <div class = "row">
        <img src="https://placekitten.com/200/302" alt="Cat">
      </div>
  </div>




</div>
<br>
<br>
<br>

{% endblock %}