{% extends 'template.html' %}

<!-- Anything you put here will be in the HTML head tags-->
{% block head %}

{% endblock %}

<!-- Anything you put here will be in the body-->
{% block body %}
<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Licenses</h3>
        <p>
          Lorem ipsum
        </p>
      </div>
      <div class="col-sm-6">
        <h3>Licenses</h3>
        <p>
          Lorem ipsum
        </p>
      </div>
    </div>
</div>


<br>
<br>
<br>

{% endblock %}