{% extends 'template.html' %}

<!-- Anything you put here will be in the HTML head tags-->
{% block head %}

{% endblock %}

{% block body %}

<!-- This is our team page -->
<div class="container">

<!-- Row 1 -->
	<div class="row">
    <!-- Dr. Bowman's Section -->
	<div class="col-sm-6">
		<h3>Dr. Timothy Bowman</h3>
		<div class="row">
			<div class="col-sm-3">
				<img alt="DrBowmanProfilePic" src="../static/images/Dr_Bowman.jpg" style="border-radius: 50%;" class="img-responsive">
			</div>
			<div class="col-sm-9">
			Dr. Timothy D. Bowman has over 8 years of experience examining aspects of social interaction, impression management, and scholarly communication in online environments, of which he has also widely published in international journals. He is an Assistant Professor in the School of Library and Information Science at Wayne State University, Detroit, MI.
			<br>
			Email: <a href="mailto:">timothy.d.bowman@wayne.edu</a>
			<br>
			GitHub: <a href="https://github.com/tdbowman"target="_blank">tdbowman &#8599;</a>
			</div>
		</div>
	</div>
	
	<!-- Mitchell's Section -->
	<div class="col-sm-6">
		<h3>Mitchell Fenner</h3>
		<div class="row">
			<div class="col-sm-3">
				<img alt="MitchFennerProfilePic" src="https://avatars0.githubusercontent.com/u/46853299?s=460&u=8d870e51ddca7e9d086ca37c619c552059afef59&v=4" style="border-radius: 50%;" class="img-responsive">
			</div>
			<div class="col-sm-9">
			Mitch is a student looking to leverage his past experiences as he transitions from biology to computer science. He is passionate about privacy as well as free and open-source software.
			<br>
			Email: <a href="mailto:mitchfen@protonmail.com">mitchfen@protonmail.com</a>
			<br>
			Github: <a href="https://github.com/mitchfen"target="_blank">mitchfen &#8599;</a>
			</div>
		</div>
	</div>
</div>

	<!-- Row 2 -->
	<div class="row">
		<!-- Ponnila's Section -->
		<div class="col-sm-6">
			<h3>Ponnila Sampath Kumar</h3>
			<div class="row">
				<div class="col-sm-3">
					<img alt="PonnilaProfilePic" src="https://avatars3.githubusercontent.com/u/60107701?s=460&v=4" style="border-radius: 50%;" class="img-responsive">
				</div>
				<div class="col-sm-9">
				Ponnila is a senior at Wayne State University, majoring in Computer Science and minoring in Business Administration. She has previous academic and professional experience working with large sets of data and various programming languages, through internships and high-level computer science classes. She is interested in the intersection of business and technology and hopes to work in a position that involves creative thinking.
				<br>
				Email: <a href="mailto:ga7280@wayne.edu">ga7280@wayne.edu</a>
				<br>
				Github: <a href="https://github.com/ga7280"target="_blank">ga7280 &#8599;</a>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<!-- Hassan's Section -->
			<h3>Hassan Bachir</h3>
			<div class="row">
				<div class="col-sm-3">
					<img alt="HassanBachirProfilePic" src="https://avatars0.githubusercontent.com/u/55329143?s=460&v=4" style="border-radius: 50%;" class="img-responsive">
				</div>
				<div class="col-sm-9">
				Hassan is an aspiring Wayne State University computer science senior and will graduate with a cumulative GPA of 3.9 (fingers crossed!). His most recent internship was as a Software Analyst and Researcher at Trillium Teamologies, Inc. located in Royal Oak, MI. Hassan loves working on databases and the front ends of web pages.  
				<br>
				Email: <a href="mailto:hassanbachir@wayne.edu">gf3272@wayne.edu</a>
				<br>
				Github: <a href="https://github.com/HassanBachir"target="_blank">HassanBachir &#8599;</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Row 3 -->
	<div class="row">
		<!-- Mohammad's Section -->
		<div class="col-sm-6">
			<h3>Mohammad Riyadh</h3>
			<div class="row">
				<div class="col-sm-3">
				<img alt="MohammadRiyadhProfilePic" src="https://avatars3.githubusercontent.com/u/22453896?s=460&v=4" style="border-radius: 50%;" class="img-responsive">
				</div>
				<div class="col-sm-9">
				Mohammad is a computer science senior at WSU and will graduate in Fall 2020. Great at debugging and boosting team morale. He is interested in artificial intelligence and working with big data. He also wants to become a full-stack developer. Mohammad loves anime, basketball, and camping.
				<br>
				Email: <a href="mailto:ujayar1@gmail.com">ujayar1@gmail.com</a>
				<br>
				Github: <a href="https://github.com/ujayar1"target="_blank">ujayar1 &#8599;</a>
				</div>
			</div>
		</div>
	</div>
</div> <!-- end the main container div -->


{% endblock %}