{% extends 'template.html' %}

<!-- Anything you put here will be in the HTML head tags-->
{% block head %}

{% endblock %}

<!-- Anything you put here will be in the body
<h3>Developers</h3>
        <li>Mitchell Fenner - mitchfen@protonmail.com - [<a href="https://github.com/mitchfen">mitchfen</a>]</li>
        <li>Mohammad Riyadh - ujayar1@gmail.com - [<a href="https://https://github.com/ujayar1">ujayar1</a>]</li>
        <li>Ponnila Sampath Kumar - ga7280@wayne.edu - [<a href="https://https://github.com/ga7280">ga7280</a>]</li>
        <li>Hassan Bachir - hassanbachir@wayne.edu - [<a href="https://https://github.com/HassanBachir">HassanBachir</a>]</li>
        <!--
        <li>Dr. Timothy Bowman - [<a href="https://https://github.com/tdbowman">tdbowman</a>]</li>
        -->
        

-->
{% block body %}
<div class="container">
   
    <!-- Row 1 -->
    <div class="row" style="padding-top:10px;height:170px;">
      
      <div class="col-sm-6">
        <h1>Dr. Timothy Bowman</h1>
        <p>
          About:
          <br>
          Email: <a href="mailto:"></a>
          <br>
          Github: <a href="https://https://github.com/tdbowman">tdbowman</a>
        </p>
      </div>
      
      <div class="col-sm-6">
        <h1>Mitchell Fenner</h1>
        <p>
          About:
          <br>
          Email: <a href="mailto:mitchfen@protonmail.com">mitchfen@protonmail.com</a>
          <br>
          Github: <a href="https://github.com/mitchfen">mitchfen</a>
        </p>
      </div>
      
    </div>

    <!-- Row 2 -->
    <div class="row" style="padding-top:10px;height:170px;">
      
      <div class="col-sm-6">
        <h1>Ponnila Sampath Kumar</h1>
        <p>
          About:
          <br>
          Email: <a href="mailto:ga7280@wayne.edu"></a>
          <br>
          Github: <a href="https://github.com/ga7280">ga7280</a>
        </p>
      </div>
      
      <div class="col-sm-6">
        <h1>Hassan Bachir</h1>
        <p>
          About:
          <br>
          Email: <a href="mailto:hassanbachir@wayne.edu"></a>
          <br>
          Github: <a href="https://github.com/HassanBachir">HassanBachir</a>
        </p>
      </div>
      
    </div>

    <!-- Row 3 -->
    <div class="row" style="padding-top:10px;height:170px;">
      
      <div class="col-sm-6">
        <h1>Mohammad Riyadh</h1>
        <p>
          About:
          <br>
          Email: <a href="mailto:ujayar1@gmail.com">ujayar1@gmail.com</a>
          <br>
          Github: <a href="https://https://github.com/ujayar1">ujayar1</a>
        </p>
      </div>
      
      <div class="col-sm-6">
        <!-- only 5 team members so we do not need this 6th space for now-->
      
      </div>

    </div>
</div>


<br>
<br>
<br>

{% endblock %}