<!-- Salsabil's code from line 3 - 51 -->

{% extends 'bulkSearchTemplate.html' %}

<!-- Anything you put here will be in the HTML head tags-->
{% block head %}
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="../static/js/upload.js"></script>

<script>
  $(function () {
    let $uploadButton = $("#uploadButton");

    $uploadButton.click(function () {
      var size = $("#fileUpload")[0].files[0].size;
      size = size / 1048576;

      if (size > 1) {
        alert("File is too large!")
        location.reload();
        return false;
      }

      return (true)
    });

  });
</script>

<script>
  $(function () {
    let $uploadButton = $("#uploadButton");

    $uploadButton.click(function () {
      let $fileName = $("#fileUpload");

      var fileExtension = ['csv'];

      if ($.inArray($fileName.val().split('.').pop().toLowerCase(), fileExtension) == -1) {
        alert("Only formats are allowed : " + fileExtension.join(', '));
        location.reload();
        return false;
      }

      return (true);
    });

  });
</script>

{% endblock %}

<!-- Anything you put here will be in the body-->
{% block body %}

<body
  style="background-image: url('../static/images/library.jpg'); background-repeat: no-repeat; background-size:cover;">


  <div class="center-screen">
    <div style="width: 750px; border-radius: 25px; padding: 15px; background-color: rgba(60, 65, 70, 0.8); ">
      <h1 style="text-align: center; color: aliceblue;"><b>Upload List of Authors</b></h1>
      <form action="{{ url_for('uploadAuthors') }}" method="POST" enctype="multipart/form-data">
        <div style="color:black;" class="image-upload-wrap">

          <!-- Drag and drop form for uploading files   -->
          <input class="file-upload-input" id="fileUpload" name="csv/json" type='file' onchange="readURL(this);"
            accept=".csv" />
          <div class="drag-text">
            <h3 style="color:aliceblue;">Drag and drop a file or Select Box</h3>
          </div>
        </div>

        <div class="file-upload-content">
          <div class="image-title-wrap">
            <!-- Display message after clicking submit -->
            <button type="submit" id="uploadButton" style="width: 350px;" onclick="uploadMessage()" class="file-upload-btn">Upload
              File</button>
          </div>
        </div>

      </form>
    </div>

  </div>
  <br>
  <div class="center-screen">
    <div class="center-screen;">
      <div style="width: 750px; border-radius: 25px; padding: 0px; background-color: rgba(60, 65, 70, 0.8); "
        class="center-screen">
        <h3 style="text-align: center; color: aliceblue;"><b>Instructions</b></h3>
        <p1 style="text-align:left; color: aliceblue;">
          <ol>
            <li>Create a CSV file with a Microsoft Excel or a text editor such as Notepad++.</li>
            <li style="padding-top: 5px;">Enter your list of authors in the <em>first</em> column and save the
              file. </li>
            <div style="text-align: center;"><img src="../static/images/authorTemplate.jpg" style="padding: 10px;"></div>
            <li style="padding-top: 5px;">Click the box above and select your file. You may also drag the file directly
              into the box.</li>
          </ol>
        </p1>
        <br>
      </div>
    </div>

    <br>

  </div>


</body>


{% endblock %}