<!-- Salsabil's code from line 3 - 51 -->

{% extends 'template.html' %}

<!-- Anything you put here will be in the HTML head tags-->
{% block head %}
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="../static/js/upload.js"></script>

{% endblock %}

<!-- Anything you put here will be in the body-->
{% block body %}
<br>
<br>
<body style="background-image: url('../static/images/library.jpg'); background-repeat: no-repeat; background-size:cover;">
  
  <div class="col-sm-3">
    <!-- Empty column of size 3. Left of box. -->
  </div>

  <div class = "center-screen col-sm-6">
    <div style="border-radius: 25px; padding: 10px; background-color: rgba(60, 65, 70, 0.8); " >
      <h1 style="text-align: center; color: aliceblue;">Upload List of DOIs</h1>
  
      <!-- Drag and drop form for uploading files   -->
      <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
          <div style="color:black;" class="image-upload-wrap">
            <input class="file-upload-input" name="csv/json" type='file' onchange="readURL(this);" accept=".csv" />
            <div class="drag-text">
              <h3 style="color:aliceblue;">Drag and drop a file or Select Box</h3>
            </div>
          </div>
          
          <div class="file-upload-content">
            <div class="image-title-wrap">
              <!-- Display message after clicking submit -->
              <button type="submit" onclick="uploadMessage()" class="file-upload-btn">Upload File</button>
            </div>
          </div>

        </form>


    </div>  

    <!--author: Rihat Rahman-->
    <!--Lines: 47-70 -->
    <div style = "margin: 10px; padding: 10px; border-radius: 25px; background-color: rgba(60, 65, 70, 0.85); color: rgba(255,255,255, 255)">

      <h3 style = "color: rgba(255,255,255, 255)">
        How to Upload a List of DOIs
      </h3>

      <h5 style = "text-align: left">
        <ul style = "line-height: 1.5;">
          <li> Open a blank workbook in Microsoft Excel. </li>
          <li> In the first column, list the DOIs you want to search. The following formats can be used: 
            <ul>
              <li> 10.1001/jama.280.3.229 </li>
              <li> doi:10.1001/jama.280.3.231 </li>
              <li> https://doi.org/10.1001/archinte.159.10.1082 </li>
            </ul>
          </li>
          <li> Save and Upload. </li>
        </ul>
      </h5>

    </div>
    <!---->

  </div>

  <div class="col-sm-3">
    <!-- Empty column of size 3. Right of box. -->
  </div>
</body>

{% endblock %}