:root {
  --bg-color: #EED5B0;
  --textColor: #333333;
  --accentColor: #6C908D;
  --accentColor2: #A15951;
  --hoverColor: #268bd2;
}

body,h4,h3 {
  background-color: var(--bg-color);
  color: var(--textColor);
}

h2,a,th {
  color: var(--accentColor);
}

h1 {
  color: var(--accentColor2);
  text-align: center;
}

sub {
  color: var(--hoverColor);
}

.boxed {
  border: 5px solid black ;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin: 20px auto;
  display: block;
  width: 500px;
}

table.table-bordered{
    border:5px solid black;
    margin-top:20px;
}

.AD_articleTitle {
    font-size: 28px;
    font-style: normal;
    font-variant: small-caps;
}

.AD_journalName {
    font-size: 20px;
    font-style: normal;
}

.AD_articleDate {
    font-size: 20px;
    font-style: normal;
}

.AD_authors {
    font-size: 20px;
    font-style: normal;
}

.AD_DOI {
    font-size: 20px;
    font-style: normal;
}
#pHead{
  font-size: 30px;
  color: var(--accentColor2);
}

#pContent{
  font-size: 20px;
  /* Adds a scroll option */
  overflow:auto;
  height: 780px;  
}

.aInfo{
  list-style-type: none;
}

#legend{
  border: solid;
  background: pink;
}
/* Color blocks */
.colorLegend{
  height: 15px;
  width: 15px;
  display: inline-block;
}

#crossrefColor{
  background: red;
}
#redditColor{
  background: orange;
}
#stackexchangeColor{
  background:yellow;
}
#wikipediaColor{
  background:green;
}
#wordpressColor{
  background: blue;
}
#dataciteColor{
  background: indigo;
}
#twitterColor{
  background: violet;
}
#redditlinksColor{
  background: rgb(83, 5, 66);
}
#newsfeedColor{
  background: rgb(14, 214, 214);
}
#hypothesisColor{
  background: rgb(154, 230, 12);
}
#cambiaColor{
  background:rgba(87, 60, 9, 0.801);
}
#webColor{
  background: rgb(0, 0, 0);
}
/* Event Name */
.tag{
  display: inline;
  font-size: 17px;
}
