:root {
  --bg-color: #aliceblue;
  --textColor: #333333;
  --accentColor: #375edd;
  --accentColor2: #A15951;
  --hoverColor: #268bd2;
}

body,h4,h3 {
  background-color: var(--bg-color);
  color: var(--textColor);
}

h2,th {
  color: var(--accentColor);
}

a{
  color: var(--accentColor);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover{
  color: var(--accentColor);
  /*font-size: 110%;*/
}

h1 {
  color: var(--accentColor2);
  text-align: center;
}

sub {
  color: var(--hoverColor);
}

.SR_boxed{
  border-radius: 25px; 
  padding: 10px; 
  background-color: rgba(208, 218, 230, 0.5);
}

.resizedTextbox{
  width: 100px;
  height: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]{
  -moz-appearance: textfield;
}

.boxed {
  border: 3px solid black ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin: 20px auto;
  display: block;
  width: 500px;
}

table.table-bordered{
    background-color: rgba(208, 218, 230, 0.5);
    margin-top:20px;
    border-radius: 25px;
    border:0px !important;
}

#noBorders{
  background-color: rgba(208, 218, 230, 0.5);
  margin-top:20px;
  border-radius: 25px;
  border:0px !important;
}
.item-data{
  padding:2%;
}

.SR_articleTitle{
    font-size: 20px;
    font-style: normal;
    font-variant: small-caps;
}

.SR_journalName {
    font-size: 110%;
}

.SR_articleDate {
    font-size: 110%;
}

.SR_authors{
    font-size: 110%;
}


.JD_articleTitle {
    font-size: 15px;
    font-style: normal;
    font-variant: small-caps;
}

.JD_journalName {
    font-size: 15px;
    font-style: normal;
}

.JD_articleDate {
    font-size: 15px;
    font-style: normal;
}

.JD_authors {
    font-size: 15px;
    font-style: normal;
}

.JD_DOI {
    font-size: 15px;
    font-style: normal;
}

.AD_articleTitle {
    font-size: 28px;
    font-style: normal;
    font-variant: small-caps;
}

.AD_journalName {
    font-size: 20px;
    font-style: normal;
}

.AD_articleDate {
    font-size: 20px;
    font-style: normal;
}

.AD_authors {
    font-size: 20px;
    font-style: normal;
}

.AD_DOI {
    font-size: 20px;
    font-style: normal;}

#pHead{
  font-size: 30px;
  color: var(--accentColor2);
}

#pContent{
  font-size: 20px;
  /* Adds a scroll option */
  overflow:auto;
  height: 780px;  
}

.aInfo{
  list-style-type: none;
}

#legend{
  border: solid;
  background: pink;
  text-align: left;
}
#legendHeader{
  text-align: center;
}
#graph{
  padding-right: 0;
  padding-left: 0;
}
#filter{
  border: solid;
  background: pink;
  text-align: left;
}
/* Color blocks */
.colorLegend{
  height: 15px;
  width: 15px;
  display: inline-block;
}



#crossrefColor{
  background: red;
}
#redditColor{
  background: orange;
}
#stackexchangeColor{
  background:yellow;
}
#wikipediaColor{
  background:green;
}
#wordpressColor{
  background: blue;
}
#dataciteColor{
  background: indigo;
}
#twitterColor{
  background: violet;
}
#redditlinksColor{
  background: rgb(83, 5, 66);
}
#newsfeedColor{
  background: rgb(14, 214, 214);
}
#hypothesisColor{
  background: rgb(154, 230, 12);
}
#cambiaColor{
  background:rgba(87, 60, 9, 0.801);
}
#webColor{
  background: rgb(0, 0, 0);
}
/* Event Name */
.tag{
  display: inline;
  font-size: 17px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #cd9557;
  opacity: 0.7;
  z-index: 1;
}


.masthead {
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
  z-index: 2;
}

.masthead .masthead-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 35rem;
  height: 100%;
  background-color: rgba(0, 46, 102, 0.8);
  transform: skewY(4deg);
  transform-origin: bottom right;
}

.masthead .masthead-content h1 {
  font-size: 2.5rem;
}

.masthead .masthead-content p {
  font-size: 1.2rem;
}

.masthead .masthead-content p strong {
  font-weight: 700;
}

.masthead .masthead-content .input-group-newsletter input {
  height: auto;
  font-size: 1rem;
  padding: 1rem;
}

.masthead .masthead-content .input-group-newsletter button {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    min-height: 0;
    width: 40.5rem;
    padding-bottom: 0;
  }
  .masthead .masthead-bg {
    min-height: 0;
    transform: skewX(-8deg);
    transform-origin: top right;
  }
  .masthead .masthead-content {
    padding-left: 3rem;
    padding-right: 10rem;
  }
  .masthead .masthead-content h1 {
    font-size: 3.5rem;
  }
  .masthead .masthead-content p {
    font-size: 1.3rem;
  }
}

.social-icons {
  position: absolute;
  margin-bottom: 2rem;
  width: 100%;
  z-index: 2;
}

.social-icons ul {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

.social-icons ul > li {
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
}

.social-icons ul > li > a {
  display: block;
  color: white;
  background-color: rgba(0, 46, 102, 0.8);
  border-radius: 100%;
  font-size: 2rem;
  line-height: 4rem;
  height: 4rem;
  width: 4rem;
}

@media (min-width: 768px) {
  .social-icons {
    margin: 0;
    position: absolute;
    right: 2.5rem;
    bottom: 2rem;
    width: auto;
  }
  .social-icons ul {
    margin-top: 0;
    width: auto;
  }
  .social-icons ul > li {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .social-icons ul > li:last-child {
    margin-bottom: 0;
  }
  .social-icons ul > li > a {
    transition: all 0.2s ease-in-out;
    font-size: 2rem;
    line-height: 4rem;
    height: 4rem;
    width: 4rem;
  }
  .social-icons ul > li > a:hover {
    background-color: #40ca47;
  }
}

.btn-secondary {
  background-color: #cd9557;
  border-color: #cd9557;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #ba7c37 !important;
  border-color: #ba7c37 !important;
}

.input {
  font-weight: 300 !important;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hideBullets{
  list-style-type: none;
  padding: 0px;
}



